<h1>Help</h1>
<p>
  This is the help page for the
  FNESC PSE Data Project
  
  For any questions, Please Contact \n
	Alan Khara\n
	Senior Data Manager\n
	First Nations Education Steering Committee\n
	#113-100 Park Royal South\n
	West Vancouver, BC\n
	V7T 1A2\n

	Phone: 604-925-6087 ext.113\n
	Toll Free in BC: 1-877-422-3672\n
</p>